<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User id</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= image_tag profile.image.url(:medium) %></td>
        <td><%= profile.description %></td>
        <td><%= profile.user.email %></td>

        <td><%= link_to 'Show', profile %></td>

        <% if profile.user = current_user %>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Profile', new_profile_path %>
<% end %>
