<div id="pins" class="transitions-enabled">
    <% @profiles.each do |profile| %>
        <div class="box panel panel-default">
            <%= image_tag profile.image.url(:medium) %>
              <div class="panel-body">
                <%= profile.description %>
                  <%= profile.user.email %>
                  <%= link_to 'Show', profile %>
                  <% if profile.user = current_user %>
                     <%= link_to 'Edit', edit_profile_path(profile) %>
                     <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
          </div>
        <% end %>
</div>




